<html>

	<head>
		<title>Login page</title>
		<meta name="Login Page" content="width=device-width, initial-scale=1.0">
		<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link href="../static/css/signup.css" rel="stylesheet">
	</head>


	<body>
		<div class="container">
			<div class="header">
				<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" ><a href="/">Home</a></li>
					<li role="presentation" class="active"><a href="#">Sign In</a></li>
					<li role="presentation" ><a href="/SignUp">Sign Up</a></li>
				</ul>
				</nav>
				<h3 class="text-muted">Python Flask App</h3>
			</div>

			<div class="jumbotron">
				<h2>Please Sign In</h2>
				<form class="form-signin" action="/Signin" method="POST">
					<label for="inputEmail" class="sr-only">Email address</label>
					<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>   
					<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
				</form>

				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}
				{% endif %}

			</div>
				
			<footer class="footer">
				<p>&copy; Aditya Jain</p>
			</footer>
			
		</div>

		<script src="../static/js/jquery-1.11.2.js"></script>
		<script src="../static/js/signin.js"></script>

	</body>
</html>